body{
  
  background: rgb(32,33,33);
background: linear-gradient(180deg, rgba(32,33,33,1) 0%, rgba(185,180,180,1) 67%);
}


.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.card:hover {
  background-color: #e0e0e0;
}